.participants {
  display: flex;

  .participant{
    margin-right: -0.75rem;
  }

  .avatarImg{
    border-radius: 100%;
    border: 2px solid var(--gray-700);
  }
}

.hiddenAvatar {
  width: 40px;
  height: 40px;
  background: var(--gray-700);
  border-radius: 100%;
  border: 1px solid var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: var(--gray-100);
    font-size: 1rem;
    font-weight: 600;
  }
}