.content {
  align-items: center;
  
  .flagsRight{
    font-size: 3em;
    line-height: 2em;
    margin-left: 12px;
  }
  .flagsLeft{
    font-size: 3em;
    line-height: 2em;
    margin-right: 12px;
  }
}

@media screen and (max-width: 425px){
  .content{
    .flagsRight{
      font-size: 2em;
      line-height: 2em;
      margin-left: 12px;
    }
    .flagsLeft{
      font-size: 2em;
      line-height: 2em;
      margin-right: 12px;
    } 
  }
}
@media screen and (max-width: 720px){
  .content{
    .flagsRight{
      font-size: 2em;
      line-height: 2em;
      margin-left: 12px;
    }
    .flagsLeft{
      font-size: 2em;
      line-height: 2em;
      margin-right: 12px;
    } 
  }
}