.container {
  max-width: 1124px;
  height: calc(100vh - 5rem);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 7rem;
  align-items: center;

  .title {
    margin-top: 3.5rem;
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .conectingPeople{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.5rem;

    .strongText{
      color: var(--gray-100);
      font-size: 1.5rem;

      span {
        color: var(--green-500)
      }
    }
  }

  .formPool {
    margin-top: 2.5rem;
    display: flex;
    gap: 0.5rem;
    input{
      flex: 1;
      padding: 1.5rem 1rem;
      background: var(--gray-800);
      border: solid 1px var(--gray-600);

      font-size: 0.875rem;
      line-height: 1.25rem;
      color: var(--gray-100)
    }
    button {
      color: var(--gray-800);
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-transform: uppercase;
      padding: 1.5rem 1rem;

      border-radius: 0.25rem;
      background: var(--yellow-400);

      &:hover{
        background: var(--yellow-500)
      }      
    }
  }
  .signInButton{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0px;
    button{
      width: 70%;
      margin: 1rem;
    }
  }
  .textDescription {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: var(--gray-300);
    line-height: 1.25rem;
    // mt-4 text-sm text-gray-300 leading-relaxed
  }

  .footerInfos {
    color: var(--gray-100);

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: solid 1px var(--gray-600);


  }
}
@media screen and (max-width: 720px){
  .container {
      margin: 0 20px;
      display: flex;
      height: calc(100vh - 5rem);

      .hero {
          text-align: center;

          h1 {
              font-size: 2.5rem;
              line-height: 2.5rem;
          }

          button {
              width: 80%;
              // background: var(--yellow-400);
              // color: black;
              font-weight: 600;
              // border: solid var(--yellow-400) 2px;
              color: var(--yellow-500);
              box-shadow: var(--yellow-400) 0px 0px 10px 0px, var(--yellow-400) 0px 0px 0px 01px;
              // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }
      }

      .formPool {
        align-items: center;
        input{
          font-weight: bold;
          font-size: 0.875rem;
          line-height: 1.25rem;
          text-transform: uppercase;
          padding: 1.5rem 1rem;
    
          border-radius: 0.25rem;        
        }        
      }

        .appPreview {
          position: fixed;
          opacity: .2;
          z-index: -1;
      }

  }
}