.findContainer{
  width: 50vw;
  margin: 0 auto;
  // flex: 1;
  // background: var(--gray-900);

  .findContent{
    margin: 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .findHero {
      color: white;
      font-size: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    input {
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      padding: 1rem;

      border: 5px solid var(--yellow-500)
    }
  }
}
.signInButton{
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background: var(--gray-800);
  width: 500px;
  margin: 2rem auto;

  .signInText {
    padding: 2rem;
  }
}

@media screen and (max-width: 720px){
  .findContainer{
    width: 90vw;

    .signInButton{
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background: var(--gray-800);
      width: 80%;
      margin: 2rem auto;
      align-items: stretch;

      .signInText{
        text-align: center;
      }
    }
  }
}